html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bg);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root{
  --primary:#5E50A1;
  --secondary:#FBB017;
  --darker:#1F2A36;
  --bg:#F6F7F8;
  --font-color:#46505C;
}

.left{
  padding-left:0;
}

.form-control{
  padding: 0.8rem 0.75rem;
  border: 1px solid #E2E5ED;
}

.form-control:focus{
  background-color: #fff;
  border-color: #E2E5ED!important;
  box-shadow: 3px 2px 52px -15px rgba(255,186,51,0.34);
}

.form-select{
  padding: 0.8rem 0.75rem;
  border-radius:0.675rem;
  border: 1px solid #4F5665;
}

.form-select:focus{
  background-color: #fff;
  border-color: #E2E5ED!important;
  box-shadow: 3px 2px 52px -15px rgba(255,186,51,0.34);
}

.btn-primary{
  background-color:var(--primary);
  // font-weight: 600;
  padding: 8px 15px;
  font-size: 14px;
  border:1px solid var(--primary);
  border-radius: 0;
  color:#fff;
}

.btn-primary:hover{
  background-color:#fff;
  border:1px solid var(--primary);
  color:var(--primary);
}

.btn-primary:active{
  background-color:var(--primary);
  border:1px solid var(--primary);
  color:#fff;
}

.btn-light{
  background-color:#fff;
  // font-weight: 600;
  padding: 8px 15px;
  font-size: 14px;
  border:1px solid var(--primary);
  border-radius: 0;
  color:var(--primary);
}

.btn-light:hover{
  background-color:var(--primary);
  border:1px solid var(--primary);
  color:#fff;
}

.btn-light:active{
  background-color:var(--primary);
  border:1px solid var(--primary);
  color:#fff;
}

.btn-secondary{
  background-color:var(--secondary);
  font-weight: 600;
  padding: 12px 40px;
  font-size: 1rem;
  border-radius: 0;
  // border-radius: 10px;
  border:1px solid var(--secondary);
  color:#fff;
}

.btn-secondary:hover{
  background-color:var(--primary);
  border:1px solid var(--primary);
  color:#fff;
}

.btn-secondary:active{
  background-color:var(--primary);
  color:#fff;
}

.btn-check:focus+.btn, .btn:focus{
  outline: none;
  background-color: var(--primary);
  color:#fff;
}

.btn:active:focus{
  box-shadow: 3px 2px 52px -15px rgba(255,186,51,0.34);
  border: none;
}
.btn:focus{
  box-shadow: 3px 2px 52px -15px rgba(255,186,51,0.34);
  border: none;
}

.img-circle{
  border-radius: 50%;
}

.dropdown-menu{
  border: 1px solid #9B9B9B;
  border-radius: 0;
  border-top-left-radius: 13%;
  border-bottom-right-radius: 13%;
  margin-left: -20vh;
}
.dropdown-item:hover{
  color: #fff;
  background-color: var(--primary);
}

.iconNavbar{
  color:#9B9B9B;
}
.navbarBtn{
  // padding: 0 2rem;
}

.card{
  width: 75%!important;
  border: none;
  box-shadow: -1px 10px 21px -4px rgba(0,0,0,0.22);
  margin: 1rem auto;
}
.card:hover{
  border: none;
  box-shadow: 6px 7px 17px -1px rgba(0,0,0,0.22);
}

.slick-prev:before, .slick-next:before{
  color: var(--primary);
  font-size: 2rem;
  margin: 0;
}

.opinionTitle{
  color:#1F2A36;
  font-size: 30px;
  font-weight: 600;
}

.opinionJob{
  color:#9EA0A5;
  font-size: 18px;
}

.opinionDesc{
  color: #46505C;
  font-size: 18px;
  text-align: center;
}

.footer{
  background-color: var(--primary);
  padding: 2rem;
  margin-top: 2rem;
}

.footerDetail{
  color: #fff;
  font-size: 18px;
  width: 381px;
  font-weight: 400;
  text-align: justify;
}

.footerDetail2{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

//media query
@media screen and (max-width: 768px) {
  .card{
    width: 95%!important;
  }
  .opinionTitle{
    color:#1F2A36;
    font-size: 20px;
    font-weight: 600;
  }
  
  .opinionJob{
    color:#9EA0A5;
    font-size: 12px;
  }
  
  .opinionDesc{
    color: #46505C;
    font-size: 12px;
    text-align: center;
  }
  .btn-secondary{
    padding:0;
  }
}